<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');">
  <div class="banner-content">
    <h1>Bored with your drinks?</h1>
    <p>Find new options in the largest cocktail library on the planet</p>
    <%= link_to 'Vew All', '', class: 'btn btn-primary btn-lg', id: 'all-cocktails' %>
    <%= link_to 'Add one', new_cocktail_path, class: 'btn btn-success btn-lg'%>
  </div>
</div>
