<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://lorempixel.com/1280/900/nightlife');">
  <div class="banner-content">
    <h1>Be a Cocktail master!</h1>
    <p>The largest cocktails library in the planet</p>
    <%= link_to 'Vew All', '', class: 'btn btn-primary btn-lg', id: 'all-cocktails' %>
    <%= link_to 'Add one', new_cocktail_path, class: 'btn btn-success btn-lg'%>
  </div>
</div>
