<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Cocktails#index</h1>
      <p>Find me in app/views/cocktails/index.html.erb</p>
      <%= link_to "Create Coacktail", new_cocktail_path, class: 'btn btn-default' %>
    </div>
  </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 padded">
      <% @cocktails.each do |c| %>
      <p><%= link_to c.name, cocktail_path(c.id) %></p>
      <% end %>
    </div>
  </div>
</div>
