<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Doses#new</h1>
      <p>Find me in app/views/doses/new.html.erb</p>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.input :ingredient_id, collection: @ingredients %>

      <%= f.button :submit %>
      <% end %>


    </div>
  </div>
</div>
