<div class=" footer wrapper-dark-grey text-center">
  <ul>
    <li><i class="fa fa-facebook"></i></li>
    <li><i class="fa fa-instagram"></i></li>
    <li><i class="fa fa-youtube"></i></li>
    <li><i class="fa fa-twitter"></i></li>
  </ul>
  <p>Copyright (c) 2017 @LeWagon.</p>
</div>
