<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to cocktails_path, class: 'navbar-brand' do %>
        <i class="fa fa-glass"></i>
      <% end %>
    </div>
    <p class="navbar-text navbar-right"><%= link_to "Create Cocktail", new_cocktail_path, class: 'btn btn-success' %>
    <%= link_to "All Cocktails", cocktails_path, class: 'btn btn-primary' %></p>
  </div>
</nav>
